<?xml version="1.0" encoding="utf-8"?>
<log4net>

	<!-- Log to File for general logs -->
	<appender name="ELKLog" type="log4net.Appender.RollingFileAppender">
		<file value="C:\Johnnie\Log4NetTest\WeatherApp-.json"/>
		<rollingStyle value="Composite"/>
		<datePattern value="yyyy-MM-dd"/>
		<PreserveLogFileNameExtension value="true"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="10MB"/>
		<dateTimeStrategy type="log4net.Appender.RollingFileAppender+UniversalDateTime"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="ELKLog" />
	</root>

</log4net>